$color-primary: #2c3e50;
$color-secondary: #f1c40f;
$color-white: #fff;
$color-black: #000;
$color-background: #e1e1e1;

$primary-font: 'Nunito', sans-serif;
$content-font: 'Montserrat', sans-serif;

$size-tablet: 1400px;
$size-mobile: 1000px;
$size-small: 400px;
