<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161545670-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161545670-1');
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Psykologie is a business website for people who want to learn and master business fundamentals"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="/public/images/favicon.ico">
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Psykologie | Business Content | Learn Business Fundamentals</title>
  </head>
