<header class="hero">
  <div class="hero__info-box">
    <p class="hero__title">Grow Your Business</p>
    <p class="hero__content">
      Daily posts that can <br />
      help you step up your <br />
      business game
    </p>
    <a href="#posts" class="hero__button button">
      Read Posts
    </a>
  </div>
</header>
