<nav class="navigation" id="nav">
  <div class="navigation__logo-box">
    <h1 class="navigation__title">Psykologie</h1>
  </div>
  <div class="navigation__container" id="mobile-menu">
    <ul class="navigation__list">
      <a href="/" class="navigation__link">Posts</a>
      <a href="/about" class="navigation__link">About</a>
      <a href="/contact" class="navigation__link">Contact</a>
    </ul>
  </div>
  <button class="navigation__mobile-menu" id="mobile-button">
    <img src="/images/mobile.png" alt="mobile menu" />
  </button>
</nav>
