<%- include('../partials/head') %>
  <body>
    <%- include('../partials/navigation') %>
    <div class="about">
      <div class="mission">
        <div class="mission__image-container">
          <div class="mission__image mission__image--1"></div>
        </div>
        <div class="mission__block">
          <h1 class="mission__title">Why We Exist?</h1>
          <p class="mission__info">
            Psykologie is about providing valuable business information and increasing the knowledge of
        current and future business leaders. <span>Knowledge is power</span> and the more you read
        about business, the better you will perform. We exist to help our readers perform at their
        best, either growing their business or doing their job at a higher level.
          </p>
          <p class="mission__info">Regardless of where a person or business is in their journey, there is always room for
            growth. Psykologie exists to <span>encourage growth</span> in both people and businesses; We
            hope to do this by providing easy access to valuable business information that can help
            someone max out their potential or grow their business.</p>
          <p class="mission__info">
            We will provide a range of content from different topics in business, that will provide as
        much <span>valuable information</span> as possible. Whether you are working at a company or
        building your own, increasing your knowledge will help. We look forward to watching how our
        audience and their businesses grow.
          </p>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>